@model CategoryUpdateModel

<form method="post" asp-action="Update" class="p-3">
    <input asp-for="@Model.Id" type="hidden">
    
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
        <input asp-for="@Model.Name" class="form-control" type="text" >
    </div>    

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Güncelle</button>
    </div>
</form>

