@model List<BlogListModel>

<a asp-action="Create" class="btn btn-info btn-sm">Yeni Blog Yaz</a>
<table class="table table-bordered table-hover py-2">
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>
                    @blog.Title
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit">Düzenle</a>
                    <a class="btn btn-sm btn-danger" href="">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>