@model List<BlogListModel>

<a asp-action="Create" class="btn btn-info btn-sm">Yeni Blog Yaz</a>
<table class="table table-bordered table-hover py-2">
    <thead>
      <tr>
        <th>Başlık</th>
        <th>Kategori İşlemleri</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>
                    @blog.Title
                </td>
                <td>
                  <a asp-action="AssignCategory" asp-route-id="@blog.Id">Kategori Ata</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@blog.Id">Düzenle</a>
                    <a class="btn btn-sm btn-danger"  data-id="@blog.Id" data-toggle="modal" data-target="#exampleModal">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Blog Silme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Blog silinecektir. Emin misiniz ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
        <a type="button" id='btnDelete' class="btn btn-warning" >Sil</a>
      </div>
    </div>
  </div>
</div>

@section JavaScript{
    <script>
      $(".btn.btn-sm.btn-danger").on('click', function() {
      var id =$(this).data("id");
      $('#btnDelete').attr('href','/Admin/Blog/Delete/'+id.toString());
    }); 
    </script>
}


